* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family-body);
  font-size: var(--font-size-18);
  line-height: 165%;
}

#modal {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--color-blue-very-dark);
}

.modal-content {
  position: absolute;
  width: max-content;
  background-color: var(--color-white);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 52px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 0 25px 0px hsl(0, 0%, 8%);
}

.modal-btn {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--color-blue-very-dark);
}

.modal-title {
  color: var(--color-blue-very-dark);
  font-size: var(--font-size-30);
  font-weight: 500;
  margin: 0, 0, 36, 0;
}

.modal-text {
  color: var(--color-purple);
  font-weight: 300;
  margin: 0, 20, 0, 0;
}

.outline-button {
  margin: 0, 0, 0, 20;
}

.modal-hidden {
  display: none;
}
