body {
    font-family: Arial, sans-serif; 
    font-size: 16px;   
    padding: 0 20px;
    background-color: #f5e6d3;
    max-width: 1200px;
    margin: 0 auto;
    color: #1A2C4E;
}

header {
    background-color: linear-gradient(45deg, #1A2C4E, #2A3C5E);
    padding: 2rem;
    text-align: center;
}

article {
    margin-bottom: 32px;
    padding: 1.25;
    bacKground:#FFFFFF;
    border: 1px solid rgba(0, 0, 1);
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 5);
    margin-left: 20;
}

section {
    margin-bottom: 48px;
    padding: 1.5
    margin-left: 20;

}

footer {
    font-size: 14px;
    font-family: arial;
    text-align: center;
    padding: 10px;
    color: #707070;
}

.text-center {
    color: #c0a060 ;
    font-family: Georgia, serif;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 5);
}

.article-header {
    color:#c0a060;
    font-family: Georgia, serif;
    font-size: 32px;
    margin-bottom: 10px;
}

.section-header {
    color:#c0a060;
    font-family: Georgia, serif;
    font-size: 28px;
    margin-bottom: 20px;
}

.article-image {
   border-radius: 4px;
   box-shadow: 0 4px 8px rgba(0,0,1);

}

.article-text {
    color:#8c1616;
    font-family: georgia, serif;
    font-size: 24px;
}

.link-text {
    font-size: 14px;
    margin-bottom: 15px;
    color:#1a3cbc;
    Hover:#C0A060;
-   Transición:0.3s;
}
